:host {
  width: 100%;

  .todo-task-container {
    display: flex;
    width: 100%;

    .todo-task-content {
      width: 100%;
      overflow: hidden;
      &>* {
        margin: .5rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .todo-task-description {
        color: lightslategray;
      }
    }

    .todo-task-toolbar {
      display: flex;
      &>* {
        margin-right: .5rem;
      }
    }
  }

  @media(min-width: 450px) {
    .todo-task-container {
      justify-content: space-between;
      align-items: center;
    }
  }

  @media(max-width: 450px) {
    .todo-task-container {
      flex-direction: column;
      .todo-task-toolbar {
        justify-content: stretch;
        margin-bottom: .5rem;
        & > * {
          flex: 1;
        }
      }
    }
  }
}