<todo-header></todo-header>

<todo-input (inputSubmitting)="onAddTodo($event)"></todo-input>

<todo-list
  title="In progress"
  [tasks]="inProgressTasks$ | async"
  (selectionChange$)="onTaskComplete($event)"
  (taskRemoveClick$)="onRemoveTask($event)"
  (taskEditClick$)="onEditingTask($event)"
></todo-list>

<todo-list
  title="Completed"
  [tasks]="completedTasks$ | async"
  (selectionChange$)="onTaskInProgress($event)"
  (taskRemoveClick$)="onRemoveTask($event)"
  (taskEditClick$)="onEditingTask($event)"
></todo-list>

<todo-editor
  *ngIf="editingTask$ | async"
  [task]="editingTask$ | async"
  (submit$)="onEditingTaskSubmit($event)"
  (cancel$)="onEditingTaskCancel($event)"
></todo-editor>
