<todo-header></todo-header>

<todo-input (inputSubmitting)="onAddTodo($event)"></todo-input>

<todo-list
  title="In progress"
  [tasks]="inProgressTasks"
  (selectionChange$)="onTaskComplete($event)"
  (taskRemoveClick$)="onRemoveTask($event)"
  (taskEditClick$)="onEditingTask($event)"
></todo-list>

<todo-list
  title="Completed"
  [tasks]="completedTasks"
  (selectionChange$)="onTaskInProgress($event)"
  (taskRemoveClick$)="onRemoveTask($event)"
  (taskEditClick$)="onEditingTask($event)"
></todo-list>

<todo-editor
  *ngIf="editingTask"
  [task]="editingTask"
  (submit$)="onEditingTaskSubmit($event)"
  (cancel$)="onEditingTaskCancel($event)"
></todo-editor>
