:host {
  .input-toolbar {
    display: flex;
    padding: .5rem 1.25rem;
  }

  @media(min-width: 600px) {
    .input-toolbar {
      justify-content: stretch;
      & > *:not(:last-child) {
        margin-right: .5rem;
      }
      ui5-input {
        flex: 1;
      }
    }
  }

  @media(max-width: 600px) {
    .input-toolbar {
      flex-direction: column;
      & > * {
        width: auto;
      }
      & > *:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  }
}
